@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  color: #6d6d6d;
}

body {
  font-family:'Raleway', sans-serif;
  padding: 10px 20px;
  line-height: 1.6;
}
.header-nav a.active {
    color: #050505;
    text-decoration: underline;
    font-weight: 600;
  }

.header-nav a{
    text-decoration: none;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */
    border-bottom: 1px solid #989898;
    align-items: center;
}

.header-nav ul{
    display: inline-block;
    margin-right:20px;
    /* border: 2px solid green; */
    width:100%;
}
.header-nav h1 a{
    /* border: 2px solid purple; */
    font-weight: 800;
    font-family:'Raleway', sans-serif;
}

.header-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}

.first-list{
    text-align: left;
}

.second-list{
    text-align: right;
}